@font-face {
  font-family: 'Roobert';
  src: url('/fonts/roobert.woff2') format('woff2-variations'),
       url('/fonts/roobert.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
